@media (max-width:1454px){
  body{
    font-size: 0.6vw;
  }
}
@media (max-width:1054px){
  body{
    font-size: 1vw;
  }
  .header__foto{
    transform: scale(120%) translateX(- 20%);
  }
}
@media (max-width:768px){
  body{
    font-size: 1.5vw;
  }
  .nav__links{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15vh;
    padding-left: 20vw;
    z-index: -1;
  }
  .nav__links_active{
    right: 0;
  }
  .nav__links a{
    font-size: 3.6em;
    font-weight: bold;
    position: relative;
    right: -100vw;
    color: #7B05D9;
  }
  .nav__links a:nth-child(1){
    transition: all 0.5s;
  }
  .nav__links a:nth-child(2){
    transition: all 0.6s;
  }
  .nav__links a:nth-child(3){
    transition: all 0.7s;
  }
  .nav__links a:nth-child(4){
    transition: all 0.8s;
  }
  .nav__links a:nth-child(5){
    transition: all 0.9s;
  }
  .nav__links_active a{
    right: 0;
  }
  .nav__contact a, .footer__contact a{
    font-size: 4em;
  }
  .hamburger{
    display: block;
    width: 40px;
    height: 20px;
    background-color: transparent;
    position: relative;
  }
  .hamburger span{
    width: 40px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #7B05D9;
    left: 0;
  }
  .hamburger span:nth-child(1){
    top: 0;
    transition-property: transform, top;
    transition-delay: 0s, 0.2s;
    transition-duration: 0.2s, 0.2s;
  }
  .hamburger span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }
  .hamburger span:nth-child(3){
    bottom: 0;
    transition-property: transform ,bottom;
    transition-delay: 0s, 0.2s;
    transition-duration: 0.2s, 0.2s;
  }
  .hamburger_active span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition-property: top, transform;
    transition-delay: 0s, 0.2s;
    transition-duration: 0.2s, 0.2s;
  }
  .hamburger_active span:nth-child(2){
    opacity: 0;
  }
  .hamburger_active span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-225deg);
    transition-property: bottom, transform;
    transition-delay: 0s, 0.2s;
    transition-duration: 0.2s, 0.2s;
  }
  header{
    padding: 15vh 0 10vh;
  }
  .header__elements{
    flex-direction: column-reverse;
    gap: 5vh;
  }
  .header__info{
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .header__info p, .header__info ul, .about-mi__info p, .courses__item p, .models__item p, .method__item p{
    font-size: 1.8em;
  }
  .benefit__item p{
    font-size: 1.8em;
  }
  .header__foto{
    width: 80%;
    max-width: none;
  }
  .about-mi__elements{
    flex-direction: column-reverse;
  }
  .about-mi__elements img{
    width: 80%;
  }
  .about-mi__info p{
    text-align: center;
  }
  .courses__item h3, .courses__item button {
    font-size: 2.4em;
    width: 100%;
  }
  .method__item h3{
    font-size: 2.2em;
  }
  .benefit__item h3{
    font-size: 2.2em;
  }
  .courses__elements, .method__elements{
    gap: 20px;
  }
  .courses__item{
    width: 40%;
  }
  .method__item{
    width: 48%;
  }
  .footer__contact .footer__mail{
    font-size: 2em;
  }
  
}
@media (max-width:660px){
  .courses__item, .method__item{
    width: 100%;
  }
}
@media (max-width:425px){
  .nav__links a{
    font-size: 5.6em;
    font-weight: bold;
  }
  .nav__contact a, .footer__contact a{
    font-size: 5.6em;
  }
  .header__info p, .header__info ul, .about-mi__info p, .courses__item p, .models__item p, .method__item p, .benefit__item p{
    font-size: 3.6em;
  }
  h2{
    font-size: 5.6em;
  }
  .method__item{
    min-width: 100%;
  }
  
  .courses__item h3, .courses__item button, .models__item h3, .method__item h3, .benefit__item h3, .contact form h3{
    font-size: 4.4em;
  }
  .benefit__item{
    max-width: 280px;
    max-height: 280px;
  }
  .benefit__item p{
    font-size: 3em;
  }
  .benefit h4{
    width: 100%;
    font-size: 2.8em;
    line-height: 140%;
  }
  .input-box input, .input-box textarea, .input-box span, .contact form button{
    font-size: 3.6em;
  }
  .contact form p{
    font-size: 2.8em;
  }
  .footer__elements{
    flex-direction: column;
    gap: 12px;
  }
  .footer__mail{
    font-size: 2.6em;
  }
}